{% extends "base.html" %}

{% block content %}

<div>
    <img src="{{ home.home_image.url }}" alt="">
    <h2>Welcome</h1>
</div>
<div>
    <p>Welcome to Your Fitness our goal is to provide a safe and happy place for people new and exsperienced in the
        fitness lifestyle to share their own knowledge and exsperiences so
        You can find all the recipes, routines, and advice you could want from setting a
        realistic goal or getting the most out of your workouts.</p>

    <tr>
        <th>Articles</th>
        <th>Routines</th>
        <th>Recipies</th>
    </tr>
    <tr>
        <td>Our article section covers a wide range of topics depending on what our users post thay could be a journel
            about your progress and and tips you want to shave with new members or you could share your in house
            knowledge as a member of the indastry about how to enter your career and help guide future generations</td>
        <td></td>
        <td></td>
    </tr>
</div>

{%endblock%}