{% extends "base.html" %}

{% block content %}

<div>
    <img src="{{ home.home_image.url }}" alt="">
    <h2>Welcome</h1>
</div>
<div>
    <p>Welcome to Your Fitness our goal is to provide a safe and happy place for people new and exsperienced in the
        fitness lifestyle to share their own knowledge and exsperiences so
        You can find all the recipes, routines, and advice you could want from setting a
        realistic goal or getting the most out of your workouts.</p>

    <tr>
        <th>Articles</th>
        <th>Routines</th>
        <th>Recipies</th>
    </tr>
    <tr>
        <td>Our article section covers a wide range of topics depending on what our users post thay could be a journel
            about your progress and and tips you want to shave with new members or you could share your in house
            knowledge as a member of the indastry about how to enter your career and help guide future generations.</td>

        <td>our routines section is where our members can share and recive new exercise plans with each other this way you
            can keep your workouts a fresh and fun as possible without the headack, or to just try something new have a
            go youll never know how much you enjoy it intill you try.</td>
            
        <td>Our recipie section is a way for you to find new tasty treats and scrumptious meal ideas to spice up that
            boring healthy food, we hope these will help you stick to your goal and show you that being healthy doesnt
            mean you must be plain.</td>
    </tr>
</div>

{%endblock%}