{% extends "base.html" %}

{% block content %}

<div>
    <img id="heroimage" src="https://res.cloudinary.com/baileym/image/upload/v1640601193/photo-1583454110551-21f2fa2afe61_iwkwn6.jpg" alt="Image of a man picking up two dumbells">
    <h2>Welcome</h2>
</div>
<div>
    <p>Welcome to your Fitness Journey our goal is to provide a safe and happy place for people new and old to the
        fitness lifestyle to share their knowledge, experiences, and struggles.</p>
    
    <p>So You can find all the recipes, routines, and advice you could want from setting a realistic goal or getting the
        most out of your workouts. We hope you can find what you need. We hope to be a part of your journey we hope to
        be a part of your journey.</p>
    <hr>
</div>
<div>
    <table>
        <tr>
            <th class="home_th">Articles</th>
            <th class="home_th">Routines</th>
            <th class="home_th">Recipies</th>
        </tr>
        <tr>
            <td>Our article section covers various topics depending on what our users post. It could be a journal about
                your progress and tips you want to shave with new members, or you could share in house knowledge as a
                member of the industry about how to enter your career and help guide future generations.</td>
    
            <td>Our routines section is where our members can share and receive new exercise plans with each other this way.
                You can keep your workouts as fresh and fun as possible without the headache, or try something new have a
                go. You'll never know how much you enjoy it until you try.</td>
    
            <td>Our recipe section allows you to find new tasty treats and scrumptious meal ideas to spice up that bland
                healthy food. We hope these will help you stick to your goal and show you that being healthy doesn't mean
                you must be plain.</td>
        </tr>
    </table>
</div>
<div>
    <p>{{  MainPageContent.article_td }}</p>
</div>
{%endblock%}