{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <!-- article Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

                {% for journalpost in journalpost_list%}
                    <div class="col-md-6">
                        <div class="mb-6">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in journalpost.journal_featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/baileym/image/upload/v1638976391/sample.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ journalpost.journal_featured_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ journalpost.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'journal_detail' journalpost.slug %}" class="post-link">
                                    <h2 class="card-title">{{ journalpost.title }}</h2>
                                    <p class="card-text">{{ journalpost.journal_excerpt }}</p>
                                </a>
                                <hr />
                                <p class="card-text text-muted h6">{{ journalpost.article_created_on}} <i class="far fa-thumbs-up"></i>
                                    {{ journalpost.number_of_likes }} <i class="far fa-thumbs-down"></i>
                                        {{ journalpost.number_of_dislikes }}</p>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%} 