{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Workouts Entries Column -->
        <!-- Workouts Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

                {% for workout in workoutslist %}
                    <div class="col-md-4 mt-3 left">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in Workout.workouts_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/baileym/image/upload/v1638976391/sample.jpg">
                                    {% else %}
                                    <img class="card-img-top" src="{{ workout.workouts_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ Workout.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' workout.slug %}" class="post-link">
                                    <h2 class="card-title">{{ workout.title }}</h2>
                                    <p class="card-text">{{ workout.workouts_description }}</p>
                                </a>
                                <hr/>
                                <p class="card-text text-muted h6">{{ workout.workouts_created_on }}
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}
